# Ignore node_modules ở tất cả subfolders
**/node_modules
**/secrets/
**/test
**/local_libs
**/dist
**/build

# IDE/editor files
.vscode/
.idea/
*.log
.env
**/.env
**/libs/
/tests
**/__pycache__/
*.pyc
*.pyo

# Optional: Docker volume or temp files
**/.DS_Store
**/tmp/

/run
**/transcripts